<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        
        {% block javascripts_header %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% block javascripts %}
        {% endblock %}
 
        <script type="text/javascript">
            $(document).ready(function() {
                {% block document_ready %}{% endblock %}
            });
        </script>
    </body>
</html>
