{% extends "FrontofficeBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_container %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock page_container %}
