parameters:
    hike_manager.class: FrontofficeBundle\Manager\HikeManager
    event_manager.class: FrontofficeBundle\Manager\EventManager
    contact_manager.class: FrontofficeBundle\Manager\ContactManager
    member_manager.class: FrontofficeBundle\Manager\MemberManager

services:
    app_user.profile.form.type:
        class: FrontofficeBundle\Form\Type\ProfileFormType
        tags:
            - { name: form.type, alias: app_user_profile }
    app_user.registration.form.type:
        class: FrontofficeBundle\Form\Type\RegistrationFormType
        tags:
            - { name: form.type, alias: app_user_registration }
    hike.manager:
        class:     "%hike_manager.class%"
        arguments: ["@doctrine.orm.entity_manager"]
    event.manager:
        class:     "%event_manager.class%"
        arguments: ["@doctrine.orm.entity_manager"]
    contact.manager:
        class:     "%contact_manager.class%"
        arguments: ["@doctrine.orm.entity_manager"]
    member.manager:
        class:     "%member_manager.class%"
        arguments: ["@doctrine.orm.entity_manager"]