{% extends "AppBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block form_label_class -%}
    col-sm-5
{%- endblock form_label_class %}

{% block form_group_class -%}
    col-sm-7
{%- endblock form_group_class %}

{% block page_container %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Inscription</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Choisisez vos identifiants pour vous conneter au site et créez des membres pour vous inscrire aux randonnées.</p>
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
    </div>
{% endblock page_container %}
