{% extends "FrontofficeBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_container %}
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">Mot de passe oublié</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
</div>
{% endblock page_container %}
