{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_container %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock page_container %}
