{% extends "FrontofficeBundle::layout.html.twig" %}

{% block page_container %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                L'association
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-8 text-justify">
            <h4>Article 1- Forme.</h4>
            <p>Il est fondé entre les adhérents aux présents statuts , une association régie par la loi du ler juillet 1901 et le décret du 16 août 1901, ayant pour titre « LES DEBOUSSOLES ».</p>
            <h4>Article 2.- Objet.</h4>
            <p>Cette association a pour but d'organiser des randonnées pédestres.</p>
            <h4>Article 3.- Dénomination.</h4>
            <p>La dénomination sociale est : «LES DEBOUSSOLES. »</p>
            <h4>Article 4. - Siège social.</h4>
            <p>Abroger</p>
            <h4>Article 5. - L'association se compose de :</h4>
            <p>
                Membres d'honneurs Membres actifs ou adhérents Article 6. — Admission :<br>
                Pour faire partie de l'association, il faut être agréé par le bureau qui statut, lors de chacune de ses réunions, sur les demandes d'admission présentées.
            </p>
            <h4>Article 7. — Les Membres.</h4>
            <p>Sont membres d'honneur, ceux qui ont rendu des services signalés à l'association ; il sont dispensés de cotisations. Sont membres actifs ceux qui ont versé annuellement une cotisation par personne hors assurance.</p>
            <h4></h4>
            <p></p>
            <h4></h4>
            <p></p>
            <h4></h4>
            <p></p>









                Article 8. — Radiation :
                La qualité de membre se perd par :
                Démission
                Décès,
                La radiation prononcée par le conseil d'administration pour non paiement de la cotisation ou pour motif grave, l'intéressé ayant été invité, par lettre recommandée, à se présenter devant le bureau pour fournir des explications.
                Article 9 - Les ressources de l'association :
                1°) Le montant des cotisations et droits d'entrée.
                2°) Les subventions des départements et des communes.
                Article 10 - Conseil d'administration
                L'association est dirigée par un conseil de membres élus pour 2 ans par l'assemblée générale. Les membres sont rééligibles.
                Le conseil d'administration choisit parmi ses membres, au scrutin secret un bureau composé de : 1°) un président,

        </div>
        <div class="col-md-4">
            <img class="img-responsive thumbnail" src="{{ asset('bundles/app/img/association.png') }}" />
        </div>
    </div>
{% endblock %}