{% extends "AppBundle::layout.html.twig" %}

{% block page_container %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                L'association
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-8 text-justify">
            <p>
                &emsp;&emsp;Le Club «Les Déboussolés» est une association, affiliée à la Fédération Française de Randonnées Pédestres.
                Créée en 1999, à Le Crès (34920), elle compte actuellement 70 Membres, dont la majorité a atteint l'âge de la retraite.
                «Déboussolée», mais non «perdue», cette association organise, un Dimanche sur deux, une sortie pédestre dont le parcours est reconnu par des membres bénévoles.
                Le rayon d'action n'excède pas 80 kms autour de Montpellier (1 heure30 de déplacement en covoiturage), la longueur du circuit est de l'ordre de 12 — 15 kms, dénivelé positif maxi 300 mètres, durée de marche environ 4 heures, plus arrêt pour repas tiré du sac.
                Si nécessaire, et afin que chacun puisse marcher à son rythme, un « itinéraire plus court », accompagné, peut être prévu.
                La convivialité étant une valeur fondamentale du club, châtaignes, bûches de Noël, Royaumes, repas de fin de saison sont à l'ordre du jour.
                En outre, chaque année, à la fin du Printemps, le club organise un voyage découverte-randos, avec base fixe en Village de Vacances :
            </p>
            <ul>
                <li><b>2012</b> ROSES (Espagne)</li>
                <li><b>2013</b> SAINTE EULALIE DE CERNON</li>
                <li><b>2014</b> LA BREOLE</li>
                <li><b>2015</b> THEOULE SUR MER</li>
            </ul>
            <p>
                &emsp;&emsp;Au début de la saison, chaque membre reçoit un dossier complet précisant le calendrier de l'année, avec un descriptif de chaque sortie (date, localisation, distance de Le Crès, longueur, dénivelé, durée) ; le dossier précise également les autres dates de rencontres dont l'Assemblée Générale, organe décisionnel de l'Association. Les conditions météorologiques (qu'on ne maîtrise pas I) peuvent occasionner une annulation ou un report de rando (en général au Dimanche suivant). 
            </p>
            <p>
                &emsp;&emsp;Les cotisations des Membres, comprenant l'assurance auprès de la Fédération Française de Randonnées Pédestres, alimentent les ressources de l'Association, auxquelles il convient d'ajouter (sous forme de participation à la formation Premiers Secours, à l'investissement informatique et à la mise à disposition d'un local) l'aide de la Mairie du Crès. 
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-responsive thumbnail" src="{{ asset('bundles/app/img/association.png') }}" />
        </div>
    </div>
{% endblock %}