{% extends "AppBundle::layout.html.twig" %}

{% block page_container %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Articles de loi
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-8 text-justify">
            <h4>Article 1- Forme.</h4>
            <p>Il est fondé entre les adhérents aux présents statuts , une association régie par la loi du ler juillet 1901 et le décret du 16 août 1901, ayant pour titre « LES DEBOUSSOLES ».</p>
            <h4>Article 2.- Objet.</h4>
            <p>Cette association a pour but d'organiser des randonnées pédestres.</p>
            <h4>Article 3.- Dénomination.</h4>
            <p>La dénomination sociale est : «LES DEBOUSSOLES. »</p>
            <h4>Article 4. - Siège social.</h4>
            <p>Abroger</p>
            <h4>Article 5. - L'association se compose de :</h4>
            <p>
                Membres d'honneurs Membres actifs ou adhérents Article 6. — Admission :<br>
                Pour faire partie de l'association, il faut être agréé par le bureau qui statut, lors de chacune de ses réunions, sur les demandes d'admission présentées.
            </p>
            <h4>Article 7. — Les Membres.</h4>
            <p>Sont membres d'honneur, ceux qui ont rendu des services signalés à l'association ; il sont dispensés de cotisations. Sont membres actifs ceux qui ont versé annuellement une cotisation par personne hors assurance.</p>
            <h4>Article 8. — Radiation :</h4>
            <p>
                La qualité de membre se perd par :<br>
                Démission<br>
                Décès,<br>
                La radiation prononcée par le conseil d'administration pour non paiement de la cotisation ou pour motif grave, l'intéressé ayant été invité, par lettre recommandée, à se présenter devant le bureau pour fournir des explications.
            </p>
            <h4>Article 9 - Les ressources de l'association :</h4>
            <p>
                1°) Le montant des cotisations et droits d'entrée.<br>
                2°) Les subventions des départements et des communes.
            </p>
            <h4>Article 10 - Conseil d'administration</h4>
            <p>
                L'association est dirigée par un conseil de membres élus pour 2 ans par l'assemblée générale. Les membres sont rééligibles.<br>
                Le conseil d'administration choisit parmi ses membres, au scrutin secret un bureau composé de :
            </p>
            <ul>
                <li>un président</li>
                <li>un vice président</li>
                <li>un secrétaire</li>
                <li>un trésorier</li>
            </ul>
            <h4>Article 11. — Réunion du conseil d'administration</h4>
            <p>
                Le conseil se réunit une fois tout les six mois sur convocation du président ou sur la demande du quart de ses membres.<br>
                Les décisions sont prises à la majorité des voix ; en cas de partage, la voix du président est prépondérante. Tout membre du comité qui, sans excuse, n'aura pas assisté à trois réunions consécutives, pourra être considéré comme démissionnaire.<br>
                Nul ne peut faire partie du conseil s'il n'est pas majeur.
            </p>
            <h4>Article 12. — Assemblée générale ordinaire.</h4>
            <p>
                L'assemblée générale ordinaire comprend tous les membres de l'association à quelque titre qu'ils y soient affiliés .L'assemblée générale ordinaire se réunit une fois l'an.<br>
                Quinze jours au moins avant la date fixée, les membres de l'association sont convoqués par les soins du secrétaire .L'ordre du jour est indiqué sur les convocations.<br>
                Le président, assisté des membres du comité , préside l'assemblée et expose la situation morale de l'association Le trésorier rend compte de sa gestion et soumet le bilan à l'approbation de l'assemblée.<br>
                Il est procédé, après épuisement de l'ordre du jour, au remplacement , au scrutin secret, des membres du conseil sortant.
            </p>
            <h4>Article 13 — Assemblée générale extraordinaire.</h4>
            <p>Si besoin est, ou sur la demande de la moitié plus un membre inscrit, le Président peut convoquer une assemblée générale extraordinaire, suivant les formalités prévues par l'article 11</p>
            <h4>Article 14 - Règlement intérieur.</h4>
            <p>
                Un règlement intérieur peut être établi par le conseil d'administration qui le fait alors approuver par l'assemblée générale.<br>
                Ce règlement éventuel est destiné à fixer les divers points non prévus par les statuts, notamment ceux qui ont trait à l'administration interne de l'association.
            </p>
            <h4>Article 15 - Dissolution.</h4>
            <p>
                En cas de dissolution prononcée par les deux tiers au moins des membres actifs à l'assemblée générale, un ou plusieurs liquidateurs sont nominés par celle ci et l'actif, s'il y a lieu , est dévolu conformément à l'article 9 de la loi du le` juillet 1901 et au décret du 16 août 1901
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-responsive thumbnail" src="{{ asset('bundles/app/img/association.png') }}" />
        </div>
    </div>
{% endblock %}