<html>
    <head>
        <title>Les déboussolés</title>
        <style>
            body{
                background-image: url('https://digitalshiftmedia.com/wp-content/uploads/wordpress-website-maintenance-service.jpg');
                background-repeat: no-repeat;
                background-color: #5eabe1;
                background-size: cover;
            }
            #messsage {
                background-color: rgba(255,255,255,0.5);
                border-radius: 15px;
                padding: 15px;
                width: 25%;
                margin-top: 10%;
                margin-left: 10%;
            }
        </style>
    </head>
    <body>
        <div id="messsage">
            <h1>Site en maintenance</h1>
            <p>Nous sommes en train de mettre à jour le site des Deboussoles, merci de re-essayer plus tard</p>
        </div>
    </body>
</html>

